.btn {
  color: #fff;
}

.btn-primary {
  background-color: #EF4836;
  border-color: #EF4836;
}

.btn-lg {
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: 2rem;
  padding-right: 2rem;
}